select {
  margin-left: 12px;
  height: 1.7em;
  font-size: 1.3em;
}

section {
  padding: 12px;
  max-width: 300px;
  border: 1px solid darkgrey;
}

input {
  height: 1.5em;
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 9px 0 12px 0;
}

.disclaimer {
 text-align: right;
}